/* FONT CONNECTION
==================================================*/

@font-face {
    font-family: 'Etelka Text Pro';
    src: url('../fonts/EtelkaTextPro.eot');
    src: url('../fonts/EtelkaTextPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EtelkaTextPro.woff2') format('woff2'),
        url('../fonts/EtelkaTextPro.woff') format('woff'),
        url('../fonts/EtelkaTextPro.ttf') format('truetype'),
        url('../fonts/EtelkaTextPro.svg#EtelkaTextPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Etelka Wide Medium Pro';
    src: url('../fonts/EtelkaWideMediumPro.eot');
    src: url('../fonts/EtelkaWideMediumPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EtelkaWideMediumPro.woff2') format('woff2'),
        url('../fonts/EtelkaWideMediumPro.woff') format('woff'),
        url('../fonts/EtelkaWideMediumPro.ttf') format('truetype'),
        url('../fonts/EtelkaWideMediumPro.svg#EtelkaWideMediumPro') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Etelka Wide Text Pro';
    src: url('../fonts/EtelkaWideTextPro.eot');
    src: url('../fonts/EtelkaWideTextPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EtelkaWideTextPro.woff2') format('woff2'),
        url('../fonts/EtelkaWideTextPro.woff') format('woff'),
        url('../fonts/EtelkaWideTextPro.ttf') format('truetype'),
        url('../fonts/EtelkaWideTextPro.svg#EtelkaWideTextPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharterC';
    src: url('../fonts/CharterC.eot');
    src: url('../fonts/CharterC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CharterC.woff2') format('woff2'),
        url('../fonts/CharterC.woff') format('woff'),
        url('../fonts/CharterC.ttf') format('truetype'),
        url('../fonts/CharterC.svg#CharterC') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* SPECIFICATION
==================================================*/

body {
    font-size: 15px;
    font-family: 'Etelka Text Pro';
    color: rgb(255, 255, 255);
    background: #FE911C;
    background: -webkit-linear-gradient(top, #FE911C, #FFA92D);
    background: -moz-linear-gradient(top, #FE911C, #FFA92D);
    background: linear-gradient(to bottom, #FE911C, #FFA92D);
    min-height: 100vh;
}

div, p, span, a, input, button {
    box-sizing: border-box;
}

.data-form {
    width: 350px;
    margin: 0 auto;
}

.data-form > input{
    width: 100%;
    border: 4px solid #FE911C;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}

.form__title {
    color: rgb(73, 73, 73);
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 20px;
}

input[type="text"] {
    font-weight: 700;
    font-size: 1.1em;
    color: rgb(73, 73, 73);
}

.hide {
    display: none;
}


/* HEADER
==================================================*/

.header {
    margin-bottom: 30px;
    text-align: center;
}

.header__title {
    font-family: 'CharterC';
    font-size: 3.5em;
    letter-spacing: 2px;
}

.header__title--bold {
    font-weight: 900;
}

.header__subtitle {
    font-family: 'Etelka Wide Text Pro';
    font-size: 1.5em;
    margin-bottom: 10px;
}

.header__place {
    background-color: #bebec0;
    border-radius: 8px;
    margin: 0 auto;
    height: 38px;
    width: 250px;
}

/* MAIN
==================================================*/

.main {
    margin-bottom: 30px;
}

.open-btn {
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    width: 220px;
    margin: 0 auto;
    border: 4px solid #212529;
    color: #212529;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.data-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

button[data-target="#exampleModal"] {
    background-color: #fff;
    margin: 0 auto;
}

/* button[data-target="#exampleModal"]:link,
button[data-target="#exampleModal"]:visited,
button[data-target="#exampleModal"]:hover,
button[data-target="#exampleModal"]:active,
button[data-target="#exampleModal"]:disabled {
    background-color: #fff;
} */

#exampleModal {
    color: black;
}

.form-text {
    font-weight: 700;
    padding-left: 5px;
    margin-bottom: 5px;
}

.reg-modal {
    margin: 0 auto;
    width: 400px;
}

.regModal-show {
    display: block;
    animation: showRegModal 1s linear forwards;
}
  
@keyframes showRegModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.confirm-phone__btn {
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #FE911C;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

/* FOOTER
==================================================*/

.feedback__textarea {
    min-height: 100px;
    border: 4px solid #FE911C;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    width: 100%;
}

textarea[type="text"] {
    font-weight: 700;
    font-size: 1.1em;
    color: rgb(73, 73, 73);
}

/* MODAL
==================================================*/

/* FORM
==================================================*/